{% extends 'base.html.twig' %}

{% block title %}Update{% endblock %}

{% block body %}

    <div class="container"> 
        {{ form_start(updateTaskForm) }}
            <div class="mb-3">
                {{ form_row(updateTaskForm.title) }}
            </div>
            <div class="mb-3">
                {{ form_row(updateTaskForm.description) }}
            </div>
            <div class="mb-3">
                {{ form_row(updateTaskForm.deadline) }}
            </div>
            <div class="mb-3">
                {{ form_row(updateTaskForm.status) }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        {{ form_end(updateTaskForm) }}
    </div>

{% endblock %}